@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #ffffff;
    display: block;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    background-color: #3d7b66;
    padding: 5vh;
    z-index: 1;
}

header h1{
    font-size: 5vh;
    position: relative;
    left: 1vw;
}

header h1 span {
    font-size: 5vh;
    color: #f0cf65;
}

header a {
    text-decoration: none;
    color: white;
}

footer {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container div {
    margin: 0px 30px 0px 30px;
    padding: 0px 10px 10px 10px;
    max-width: 180px;
    min-width: 180px; 
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-container div li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-container div a {
    text-decoration: none;
    color: rgba(20, 20, 20, 0.671);
    transition: 0.5s ease;
}

.footer-container div a:hover {
    color: rgb(20, 20, 20);
}

.footer-container div h2 {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: uppercase;
}


.footer-container .content5 ul {
    display: flex;
    min-height: 80px;
    min-width: 100%;
    justify-content: center;
}



.footer-container .content5 ul li i{
    font-size: 15px;
    text-align: center;
    min-width: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 5px 5px 5px;
    transition: 0.3s ease;
}

.footer-container .content5 ul li i:hover {
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

.fa-facebook-f:hover {
    background-color: #1672E6;
}

.fa-instagram:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

.fa-twitter:hover {
    background-color: #1C99E6;
}

.fa-youtube:hover {
    background-color: #FF0000;
}

.modos-de-pagamento img{
    width: 100vh;
    position: relative;
    right: 280px;
}

footer p {
    color: rgba(0, 0, 0, 0.687);
    position: relative;
    top: 30px;
}


.contate-nos {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 475px;
    width: 100%;
    height: 200px;
    background-color: #3d7b66;
}

.contate-nos h1 {
    margin-right: 10vh;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #ffff;
}

.contate-nos form {
    display: flex;
    height: 45px;
}

.contate-nos form input{
    margin-left: 10px;
    width: 50vh;
    padding: 10px;
    border-radius: 10px;
    border: solid white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.5s ease;
}

.contate-nos form input:hover,
#btnCadastrar:hover {
    transform: translateY(-5px);
}

#btnCadastrar:hover {
    background-color: #d3b55a;
    color: #0d1a16;
}

#btnCadastrar {
    background-color: #f4d26a;
    font-weight: 600;
    color: #1d3a30;
    margin-left: 10vh;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.5s ease;
}

.testando {
    width: 100%;
    height: 1000px;
    background-color: black;
    margin-top: 475px;
    z-index: -1;
}

.search-bar {
    position: relative;
    left: 8vw;
}

.search-bar i {
    background-color: #f0cf65;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #295245;
}

.search-bar i:hover {
    background-color: #f1d57b;
    color: #468974;
    transition: 0.5s ease;
    cursor: pointer;
}

#search-bar {
    width: 65vh;
    height: 6.6vh;
    padding: 5px;
    border-radius: 5px;
}

.minhaconta {
    position: relative;
    left: 16vw;
    display: flex;
    align-items: center;
}

.minhaconta i {
    font-size: 25px;
    margin-right: 10px;
}

.minhaconta a {
    text-decoration: none;
}

.minhaconta a:visited,
.minhaconta a:link {
    color: #f0cf65;
}

.minhaconta a:hover,
.minhaconta i:hover,
.carrinho i:hover {
    color: #d3b759;
    transition: 0.5s ease;
    cursor: pointer;
}

.carrinho {
    position: relative;
    left: 22vw;
    display: flex;
    align-items: center;
}

.carrinho p {
    font-size: 20px;
}

.carrinho i {
    font-size: 5vh;
    margin-left: 1vw;
}

nav {
    display: flex;
}

.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3b759;
    color: #295245;
    font-weight: 700;
    width: 180.5px;
    text-align: center;
    padding: 6px 0px 6px 0px;
    font-size: 20px;
    z-index: 2;
}

.dropdown-cachorro:hover .categorias.cachorro,
.dropdown-gato:hover .categorias.gato,
.dropdown-hamster:hover .categorias.hamster,
.dropdown-banhoetosa:hover .categorias.banhoetosa,
.dropdown-passaros:hover .categorias.passaros,
.dropdown-outros:hover .categorias.outros,
.dropdown-casa:hover .categorias.casa {
    height: 50px;
    color: #172d26;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(249, 206, 62);
    position: sticky;
    
}

nav {
    position: absolute;
    z-index: 1;
}

.dropdown-cachorro:hover .dropdown-content-cachorro,
.dropdown-gato:hover .dropdown-content-gato,
.dropdown-hamster:hover .dropdown-content-hamster,
.dropdown-banhoetosa:hover .dropdown-content-banhoetosa,
.dropdown-passaros:hover .dropdown-content-passaros,
.dropdown-outros:hover .dropdown-content-outros,
.dropdown-casa:hover .dropdown-content-casa {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    max-width: 168vh;
    top: 36px;
}

.dropdown-hamster:hover .dropdown-content-hamster,
.dropdown-passaros:hover .dropdown-content-passaros,
.dropdown-outros:hover .dropdown-content-outros,
.dropdown-casa:hover .dropdown-content-casa {
    left: 51vh;
}

.dropdown-content-cachorro,
.dropdown-content-gato,
.dropdown-content-hamster,
.dropdown-content-banhoetosa,
.dropdown-content-passaros,
.dropdown-content-outros,
.dropdown-content-casa {
    display: none;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    background-color: #e6e6e6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content-cachorro ul,
.dropdown-content-gato ul,
.dropdown-content-hamster ul,
.dropdown-content-banhoetosa ul,
.dropdown-content-passaros ul,
.dropdown-content-outros ul,
.dropdown-content-casa ul {
    list-style-type: none;
    min-height: 200px;
    width: 40vh;
    padding: 10px;
    margin: 5px;
}


.dropdown-content-cachorro ul li,
.dropdown-content-gato ul li,
.dropdown-content-hamster ul li,
.dropdown-content-banhoetosa ul li,
.dropdown-content-passaros ul li,
.dropdown-content-outros ul li,
.dropdown-content-casa ul li {
    padding-top: 5px;
}

.dropdown-content-cachorro ul li a:hover,
.dropdown-content-gato ul li a:hover,
.dropdown-content-hamster ul li a:hover,
.dropdown-content-banhoetosa ul li a:hover,
.dropdown-content-passaros ul li a:hover,
.dropdown-content-outros ul li a:hover,
.dropdown-content-casa ul li a:hover {
    background-color: rgb(249, 206, 62);
    transition: 0.2s ease;
}

.dropdown-content-cachorro ul a:visited,
.dropdown-content-cachorro ul a:link,
.dropdown-content-gato ul a:visited,
.dropdown-content-gato ul a:link,
.dropdown-content-hamster ul a:visited,
.dropdown-content-hamster ul a:link,
.dropdown-content-banhoetosa ul a:visited,
.dropdown-content-banhoetosa ul a:link,
.dropdown-content-passaros ul a:visited,
.dropdown-content-passaros ul a:link,
.dropdown-content-outros ul a:visited,
.dropdown-content-outros ul a:link,
.dropdown-content-casa ul a:visited,
.dropdown-content-casa ul a:link {
    color: black;
    text-decoration: none;
    padding: 2px 8px 2px 8px;
    border-radius: 14px;
    position: relative;
    right: 8px;
}

.slideshow {
    position: absolute;
    top: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 0;
    margin-bottom: 500px;
}

.slideshow img {
    height: 470px;
}

#banner1 {
    display: block;
}

#banner2,
#banner3,
#banner4 {
    display: none;
}

.slideshow .banner {
    position: absolute;
}

.prev,
.next {
    position: absolute;
    font-size: 40px;
    z-index: 0;
    padding: 10px;
    cursor: pointer;
    color: #2f2f2f57;
    border-radius: 4px;
}


.prev:hover,
.next:hover {
    background-color: rgba(60, 60, 60, 0.381);
    color: rgb(27, 27, 27);
    transition: 0.5s ease;
}

.prev {
    left: 40px;
}

.next {
    right: 40px;
}

.bolinhas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 210px;
    width: 300px;
    padding: 5px;
    height: 40px;
    z-index: 0;
}

.bolinha {
    position: relative;
    background-color: #3c3c3c61;
    margin: 5px;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    cursor: pointer;

}

.bolinha:hover {
    background-color: #1d1d1d;
    transition: 0.5s ease;
}

#bolinha1 {
    background-color: rgb(29, 29, 29);
}




















