@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    color: white;
    background-color: #3d7b66;
    padding: 5vh;
}

header h1{
    font-size: 5vh;
    position: relative;
    left: 1vw;
}

header h1 a {
    font-size: 5vh;
    color: #f0cf65;
}

.search-bar {
    position: relative;
    left: 8vw;
}

.search-bar i {
    background-color: #f0cf65;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #295245;
}

.search-bar i:hover {
    background-color: #f1d57b;
    color: #468974;
    transition: 0.5s ease;
    cursor: pointer;
}

#search-bar {
    width: 65vh;
    height: 6.6vh;
    padding: 5px;
    border-radius: 5px;
}

.minhaconta {
    position: relative;
    left: 16vw;
    display: flex;
    align-items: center;
}

.minhaconta i {
    font-size: 25px;
    margin-right: 10px;
}

.minhaconta a {
    text-decoration: none;
}

.minhaconta a:visited,
.minhaconta a:link {
    color: #f0cf65;
}

.minhaconta a:hover,
.minhaconta i:hover,
.carrinho i:hover {
    color: #d3b759;
    transition: 0.5s ease;
    cursor: pointer;
}

.carrinho {
    position: relative;
    left: 22vw;
    display: flex;
    align-items: center;
}

.carrinho p {
    font-size: 20px;
}

.carrinho i {
    font-size: 5vh;
    margin-left: 1vw;
}


.categorias {
    display: flex;
    background-color: #d3b759;
    color: #295245;
    font-weight: 700;
    justify-content: center;
}

.categorias li {
    list-style-type: none;
    padding: 6px 50px 6px 50px;
    font-size: 20px;
    border-radius: 2px;
    
}

.categorias li:hover {
    background-color: #55ab8e;
    color: #f3f3f3;
    cursor: pointer;
    transition: 0.2s ease;
}

#cachorro:hover + .dropdown-content-cachorro {
    display: flex;
}

.dropdown-content-cachorro {
    display: none;
    position: absolute;
    padding: 20px;
    border-radius: 2px;
    background-color: #e6e6e6;
    min-width: 160px;
    max-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-cachorro ul {
    list-style-type: none;
    padding: 0px 40px 0px 40px;
}

.dropdown-content-cachorro ul li {
    padding-top: 5px;
}

.dropdown-content-cachorro ul a:visited,
.dropdown-content-cachorro ul a:link {
    color: black;
    text-decoration: none;
}








